.CardContainer {
  margin: 1rem;
  display: flex;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
}
.card {
  /* border: 1px solid red; */
  width: 31%;
  border-radius: 0.5rem;
  margin: 1rem;
  line-height: 1.6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card:hover {
  box-shadow: rgba(1, 1, 1, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  scale: 1.02;
}
.cardHeading {
  display: flex;
  align-items: center;
}
.cardHeading h2 {
  margin-right: 0.5rem;
  font-weight: 400;
}
.cardAddress {
  display: flex;
  opacity: 0.7;
}

.starContainer svg {
  fill: #facc15;
  border: 1px soild red;
}
.foodContainer {
  display: flex;
  align-items: center;
  color: #22c55e;
}
.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardTop {
  padding: 1rem;
}
.cardBottom {
  margin-top: 1rem;
  background-color: #f3f4f6;
  padding: 1rem;
}

.foodName {
  margin-left: 0.5rem;
}
.locationContainer {
  margin-right: 0.4rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.textInput {
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
}

.numInput {
  padding: 0.2rem;
}
